
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Montserrat&display=swap');

body {
    font-family: Montserrat;
    margin: 0;
}

/* Home page */
#site-title {
    font-family: Comfortaa;
    margin: 40px;
    text-align: center;
}

main {
    margin: 0 50px;
}

.tabs {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid;
    height: 60vh;
}

.radio-labels {
    cursor: pointer;
    margin-bottom: 30px;
    padding-right: 50px;
    padding: 20px 20px 0;
}

/* #purchase-label {
    width: 48%;
    border-left: 2px solid;
    border-bottom: 2px solid;
} */

.radio-tabs {
    display: none;
}

.tab-content {
    order: 1;
    width: 100%;
    display: none;
    /* margin: 0 50px; */
}

.radio-tabs:checked+.radio-labels {
    text-decoration: underline;

}

.radio-tabs:checked+.radio-labels+.tab-content {
    display: initial;
}

/* .radio-tabs:checked+#purchase-label {
    border-bottom: none;
} */


.price-display {
    border-bottom: 2px solid;
}

/* The form */

.wish {
    border: 2px solid;
    border-radius: 10px;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

#album-wishlist-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 75%; 
    /* margin: 50px 150px; */
    /* width: 50%; */
}

#add-button {
    width: 50px;
    margin-top: 20px;
}

#cancel {
    height: 20px;
    margin: 20px;
}
/* Album cards */

.album-cards {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.album-card {
    border: 2px solid black;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 30px;
    width: 75%;
}

